<!DOCTYPE html>
<html>
  <head>
    <title>vue mis</title>
  </head>
  <body>
    <div id="app">
    </div>
    <script type="text/javascript" src="/js/{{vendor}}.js"></script>
    <script type="text/javascript" src="/js/{{app}}.js"></script>
  </body>
</html>