<!DOCTYPE html>
<html>
  <head>
    <title>vue mis</title>
    <link rel="stylesheet" href="/fonts/iconfont.css">
  </head>
  <body>
    <div id="app">
    </div>
    <script type="text/javascript" src="/{{vendor}}"></script>
    <script type="text/javascript" src="/{{app}}"></script>
  </body>
</html>
